<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edugames.Rinoileingilizce">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HarflerActivity" />

        <activity android:name=".HarflerLearningActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SayilarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FoodDrinkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RenklerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HayvanlarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VucutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SayilarLearning"
            android:screenOrientation="portrait"/>
        <activity android:name=".RenklerLearning"
            android:screenOrientation="portrait"/>
        <activity android:name=".HayvanlarLearning"
            android:screenOrientation="portrait"/>
        <activity android:name=".food_food"
            android:screenOrientation="portrait"/>
        <activity android:name=".food_drink"
            android:screenOrientation="portrait"/>
        <activity android:name=".food_vegetable"
            android:screenOrientation="portrait"/>
        <activity android:name=".food_fruit"
            android:screenOrientation="portrait"/>
        <activity android:name=".VucutLearning"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>